* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: rgb(198, 201, 192);
}

.topBar {
  padding-top: 5px;
  background-color: rgb(38, 39, 39);
  height: 75px;
  width: 100%;
}

.logo {
  text-align: left;
  color: azure;
}

.mainPageBody {
  /* background-image: url(/images/bwrecord.jpg); */
  padding-top: 100px;
  font-size: 50px;
  text-align: center;
  background-color: rgb(198, 201, 192);
  height: 100%;
}

.submission-container {
  font-size: 23px;
  font-weight: bold;
}
